
.plot{
    width: 400px;
    height: auto;
    background-color: white;
    place-items: center;
    border-radius: 5px;
    border:1px gray solid;
}
.scan input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
    font-size:15px;
    padding:10px;
}
.scan {
    display:flex;
    flex-direction: column;
}




.btn01 button{
    width: 270px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid;
    background-color: rgb(70, 189, 70);
    color: white;
}

