
.frame h1{
    margin-top: 15px;
}
.frame{
    width: 500px;
    height: auto;
    background-color: white;
    place-items: center;
    border-radius: 5px;

}
.inputt {
     display:flex;
     flex-direction:column;
     margin-top:10px;
}

.inputt input{
    width: 400px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px gray solid;
    
}



.btnn button{
    width: 400px;
    height: 40px;
    background-color: rgb(110, 233, 110);
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.frame p{
    margin-bottom:15px;
}
