

.rest{
    width: 300px;
    height: 200px;
    background-color: white;
    place-items: center;
    border-radius: 5px;
}

.index input{
    width: 260px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
    

}


.press button{
    width: 260px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(60, 172, 60);
    color: white;
}